
<h2>ログイン</h2>
<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :メールアドレス　%>
    <%= f.email_field :email %>
    <%= f.label :パスワード　%>
    <%= f.password_field :password %>
    <%= f.submit "ログイン" %>
<% end %>
<%= link_to "はじめての方はこちら", users_new_path %>