<main>
    <% if current_user %>
        <h1 class= "post-index"><%= link_to "名言を叫べ！！", new_post_path %></h1>

        <ul>
            <% @posts.each do |post| %>
                <li>
                    <div><%= post.user.name %></div>
                    <%= link_to post.meigen, post_path(post) %>
                    <div id="like-btn-<%= post.id %>">
                        <%= render 'likes/like', post: post %>
                    </div>
                    <%= link_to "編集", edit_post_path(post) %>
                    <%= link_to "[X]", post_path(post), method: :delete, data: {confirm: "削除しますか?"}%>
                </li>
            <% end %>
        </ul>
    <% else %>
        <div class="post-index">
            <p>名言集を見るにはログインが必要です</p>
        </div>    
    <% end %>
</main>

