<!DOCTYPE html>
<html>
  <head>
    <title>Mystudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
  </head>

  <body>
  <header>
  <div class="header-inner">
  <h2>
  <%= link_to "名言集", root_path %>
  </h2>
  <h2>
  <% if current_user %>
      <%= current_user.name %>
      <%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: 'ログアウトしますか?' } %>
  <% else %>
      <%= link_to "ログイン", login_path %>
  <% end %>
  </h2>
  </header>
    <%= yield %>
  <footer>
  名言集
  <h4> © 2020 kotoba corporation AllRightsReserved </h4>
    
  </footer>
    
  </body>
</html>
