<!DOCTYPE html>
<html>
  <head>
    <title>Mystudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <header>
  <div class="header-inner">
  <h2>
  <%= link_to "名言集", root_path, class:"link_layout" %>
  </h2>
  <h2>
  <% if current_user %>
      <%= current_user.name %>
      <%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: 'ログアウトしますか?' }, class:"link_layout" %>
  <% else %>
      <%= link_to "ログイン", login_path, class:"link_layout" %>
  <% end %>
  </h2>
  </header>
    <%= yield %>
  <footer>
  <div class="text-secondary">
    <h5> 名言集 </h5>
    <h4> © 2020 kotoba corporation AllRightsReserved </h4>
  </div>
  </footer>
    
  </body>
</html>
